@charset "UTF-8";
@import url("SpryMenuBarHorizontal.css");
section {
	width: 950px;
	height: 650px;
	margin-right: auto;
	margin-left: auto;
	padding-top: auto;
	background-image: url(../imgs/fondoindex.png);
}
p4 {
	color: #FFFFFF;
	font-family: inconsolata;
	font-style: normal;
	font-size: 11pt;
}
body {
	background-image: url(../imgs/body.jpg);
	background-repeat: repeat;
}
header {
	width: 950px;
	height: 120px;
	float: right;
	background-image: url(../imgs/fondoheader.png);
	background-position: 0 35px;
	background-repeat: no-repeat;
	margin-top: 0px;
}
article {
	float: left;
	width: 370px;
	height: 410px;
}
footer {
	width: 950px;
	height: 50px;
	background-image: url(../imgs/fondoheader.png);
	background-position: 0% -25px;
	border-top: 2pt solid #FFFFFF;
	float: right;
}
.nombreindex {
	margin-top: 50px;
	margin-left: 50px;
}
.detalle1 {
	transition: All 0.2372s ease-in-out;
	-webkit-transition: All 0.2372s ease-in-out;
	-moz-transition: All 0.2372s ease-in-out;
	-o-transition: All 0.2372s ease-in-out;
	transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-moz-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-o-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-ms-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	float: left;
	margin-top: 50px;
	margin-left: 130px;
}
.detalle1:hover{
transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-webkit-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-moz-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-o-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-ms-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
}

.detalle2 {
	transition: All 0.2372s ease-in-out;
	-webkit-transition: All 0.2372s ease-in-out;
	-moz-transition: All 0.2372s ease-in-out;
	-o-transition: All 0.2372s ease-in-out;
	transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-moz-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-o-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-ms-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	margin-top: 30px;
	margin-left: 210px;
}
.detalle2:hover{
transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-webkit-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-moz-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-o-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-ms-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
}

.detalle3 {
	transition: All 0.2372s ease-in-out;
	-webkit-transition: All 0.2372s ease-in-out;
	-moz-transition: All 0.2372s ease-in-out;
	-o-transition: All 0.2372s ease-in-out;
	transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-moz-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-o-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-ms-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	margin-top: 40px;
	float: left;
}
.detalle3:hover{
transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-webkit-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-moz-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-o-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-ms-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
}

.detalle4 {
	transition: All 0.2372s ease-in-out;
	-webkit-transition: All 0.2372s ease-in-out;
	-moz-transition: All 0.2372s ease-in-out;
	-o-transition: All 0.2372s ease-in-out;
	transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-moz-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-o-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	-ms-transform: rotate(0deg) scale(0.832) skew(1deg) translate(0px);
	margin-top: 110px;
	float: right;
	margin-right: 210px;
}
.detalle4:hover{
transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-webkit-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-moz-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-o-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
-ms-transform: rotate(0deg) scale(0.96) skew(1deg) translate(7px);
}

#detalles2 {
	width: 300px;
	height: 600px;
	float: right;
}
.nombreheader {
	margin-top: 35px;
	float: left;
	margin-left: 50px;
	width: 141px;
	height: 050px;
}
nav {
	width: 700px;
	height: 50px;
	float: right;
	margin-top: 35px;
}
.contacto {
	margin-left: 80px;
}
h1 {
	color: #FFFFFF;
	font-family: 'Abel', sans-serif;
	font-style: normal;
	font-size: 11pt;
	padding-top: 15px;
	margin-top: 0px;
	width: 320px;
	padding-left: 80px;
	float: right;
	height: 30px;
}
.redes {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
.redesmargenizq {
	margin-left: 75px;
}
.perfil {
	margin-left: 100px;
	margin-top: 0px;
}
#section1 {
	width: 950px;
	height: 600px;
}
#article2 {
	width: 560px;
	height: 300px;
	float: right;
	margin-top: -1px;
}
p1 {
	color: #FCFCFC;
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-size: 14px;
	width: 410px;
	height: 180px;
	float: left;
	border: 5pt double #FFFFFF;
	padding-top: 18px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 500;
	background-color: #000000;
	padding-bottom: 6px;
	top: 23px;
	margin-top: 29px;
}
h2 {
	color: #000000;
	font-style: normal;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: #FFFFFF;
	width: 306px;
	padding-left: 15px;
	-webkit-box-shadow: 3px 3px #63DEBE;
	box-shadow: 3px 3px #63DEBE;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	top: 12px;
}
#content {
	width: 550px;
	height: 400px;
	float: right;
	margin-top: 0px;
}
#articlegaleria {
	width: 550px;
	height: 400px;
	float: right;
	margin-right: 70px;
	margin-top: 0px;
}
#slider {
	width: 550px;
	height: 400px;
	float: right;
	border: 3pt double #FFFFFF;
	margin-top: 0px;
}
li {
	width: 550px;
	height: 400px;
}
#menuport {
	width: 200px;
	height: 400px;
	float: left;
	margin-top: -9px;
	margin-left: 73px;
}
.menuport {
	margin-top: 21px;
	margin-left: 50px;
	float: left;
}

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin top:20px;
		padding:0;
		list-style:none;
		}
	#slider2{
	margin-top: 1em;
	height: 400px;
	width: 550px;
}
	#slider li, #slider2 li{
	/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
	width: 550px;
	height: 400px;
	overflow: hidden;
	margin-top: -16px;
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{
	display: block;
	width: px;
	position: absolute;
	top: 0px;
	z-index: 1000;
	left: auto;
		}	
	#nextBtn, #slider1next{
	left: 1090px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{
	display: block;
	position: relative;
	width: 30px;
	height: 77px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../imgs/prev.png);
	margin-top: 540px;
	left: -6px;
		}	
	#nextBtn a, #slider1next a{
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../imgs/next.png);
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:1em;
		height:0px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:1em;
		float:left;
		list-style:none;
		height:0px;
		line-height:0px;
		}
	ol#controls li a{
	float: right;
	height: 0px;
	line-height: 28px;
	border: 1px solid #ccc;
	background: #DAF3F8;
	color: #555;
	padding: 0px;
	text-decoration: none;
		}

	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
#headerindex {
	width: 350px;
	height: 600px;
	clear: none;
	float: left;
	background-image: none;
}
#detalles1 {
	width: 300px;
	height: 600px;
	float: left;
}
#navindex {
	width: 256px;
	height: 350px;
	margin-top: -11px;
	float: right;
}
.botonesindex {
	margin-top: 40px;
}
h3 {
	color: #FFFFFF;
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-size: 14pt;
	width: 215px;
	text-align: center;
	margin-left: 62px;
	margin-top: 13px;
	border-bottom: 3pt double #FFFFFF;
	border-top: 3pt double #FFFFFF;
	position: static;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sectionindex {
	width: 950px;
	height: 650px;
	background-image: url(../imgs/ilusindex.png);
}
h4 {
	width: 200px;
	color: #F7F7F7;
	font-size: 10pt;
	font-family: 'Abel', sans-serif;
	margin-bottom: 2px;
	border-left: 3pt double #FFFFFF;
	padding-left: 9px;
	margin-left: -12px;
}
p2 {
	width: 200px;
	color: #63DEBE;
	font-family: 'Abel', sans-serif;
	font-size: 11pt;
	padding-top: 0px;
}
.botonesmenuport {
	margin-top: 15px;
}
td {
	color: #FFFFFF;
	font-size: 11pt;
	padding-left: 34px;
	padding-top: 0px;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
}
h5 {
	color: #66D9B9;
	font-family: 'Abel', sans-serif;
	font-size: 14pt;
	border-right: 5pt solid #63DEBE;
	padding-left: 0px;
	width: 109px;
	margin-top: 10px;
	margin-bottom: -4px;
}
.enviar {
	-webkit-box-shadow: 4px 4px #5DDDBF;
	box-shadow: 4px 4px #5DDDBF;
	background-color: #FFFFFF;
	width: 70px;
	height: 30px;
	color: #000000;
	font-family: 'Abel', sans-serif;
	font-size: 14pt;
	padding-right: 8px;
	padding-left: 5px;
	border: 2pt solid #68DEBD;
	padding-top: 0px;
	top: -4px;
	margin-top: 0px;
	text-decoration:none; 
}
.enviarbotonmapa {
	-webkit-box-shadow: 4px 4px #5DDDBF;
	box-shadow: 4px 4px #5DDDBF;
	background-color: #5DDDBF;
	width: 70px;
	height: 30px;
	color: #000000;
	font-family: 'Abel', sans-serif;
	font-size: 14pt;
	padding-right: 8px;
	padding-left: 5px;
	border: 3pt solid #FFFFFF;
	padding-top: 0px;
	top: 38px;
}
.enviar:hover {
	color: #000000;
	font-family: 'Abel', sans-serif;
	background-color: #63DEBE;
	border: 3pt solid #FFFFFF;
}
table {
	width: 370px;
	height: 389px;
	margin-top: 0px;
	padding-top: 0px;
	border: 3pt double #FFFFFF;
	margin-left: 0px;
}
#articlecontacto {
	width: 390px;
	height: 390px;
	margin-left: 70px;
	margin-top: 30px;
}
tr {
	width: 37px;
	height: 15px;
}

.imgcontacto {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(0deg) scale(0.839) skew(-180deg) translate(-1px);
-webkit-transform: rotate(0deg) scale(0.839) skew(-180deg) translate(-1px);
-moz-transform: rotate(0deg) scale(0.839) skew(-180deg) translate(-1px);
-o-transform: rotate(0deg) scale(0.839) skew(-180deg) translate(-1px);
-ms-transform: rotate(0deg) scale(0.839) skew(-180deg) translate(-1px);
}
.imgcontacto:hover{
transform: rotate(30deg) scale(0.931) skew(-180deg) translate(-1px);
-webkit-transform: rotate(30deg) scale(0.931) skew(-180deg) translate(-1px);
-moz-transform: rotate(30deg) scale(0.931) skew(-180deg) translate(-1px);
-o-transform: rotate(30deg) scale(0.931) skew(-180deg) translate(-1px);
-ms-transform: rotate(30deg) scale(0.931) skew(-180deg) translate(-1px);
}
textarea {
	margin-top: -7px;
	padding-top: 0px;
	top: -9px;
}
.td {
	margin-top: -23px;
}
.tdtd {
	margin-bottom: -28px;
	padding-bottom: 0px;
	margin-top: -3px;
}
#imgcontacto {
	width: 300px;
	height: 350px;
	margin-left: 95px;
}
#footindex {
	width: 950px;
	height: 50px;
	background-image: none;
	background-color: none;
	border-style: none;
}
.fotoweb {
	margin-top: 15px;
	-webkit-box-shadow: 4px 4px #66DEBD;
	box-shadow: 4px 4px #66DEBD;
}
.fotoweb:hover {
	-webkit-box-shadow: 4px 4px #63DEBE;
	box-shadow: 4px 4px #63DEBE;
	width: 280px;
	height: 187px;
	border: 3pt solid #FFFFFF;
	float: left;
}
p3 {
	width: 200px;
	height: 150px;
	color: #F7F7F7;
	font-family: inconsolata;
	font-style: normal;
	font-size: 11pt;
	margin-bottom: 0px;
	float: right;
	margin-top: 49px;
}
h6 {
	color: #63DEBE;
	font-family: abel;
	font-style: normal;
	font-size: 11pt;
	text-decoration: underline;
	margin-top: 0px;
	margin-bottom: 10px;
}
#articlegaleria {
	width: 200px;
	height: 450px;
	float: right;
}
#web1 {
	width: 300px;
	height: 450px;
	float: left;
	margin-right: 0px;
	margin-left: 80px;
}
#articleweb {
	width: 214px;
	height: 400px;
	float: right;
	padding-right: 0px;
	margin-right: 64px;
	margin-top: 24px;
}
#articlesobremi {
	width: 463px;
	height: 125px;
	margin-left: 18px;
	margin-top: 20px;
}
#slidebox {
	width: 463px;
	height: 0125px;
}
ul {
	width: 463px;
	height: 125px;
}
.mapasitio {
	margin-left: 79px;
	margin-top: 40px;
}
h7 {
	color: #5DDDBF;
	font-size: 14pt;
	font-family: abel;
	font-style: normal;
	border: 4pt double #69DFBC;
	padding-top: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: 324px;
	top: 40px;
	position: relative;
	margin-bottom: -80px;
	text-decoration:none; 
}
.botoneswireframe {
	background-color: #FFFFFF;
	text-decoration: none;
	margin-top: -46px;
	padding-top: 0px;
	left: 31px;
	position: relative;
	text-decoration: underline;
	color: #000000;
}
.wireframegaleria {
	margin-top: 110px;
}
.galeriawireframe {
	left: -123px;
	position: relative;
	bottom: -160px;
	top: 10px;
}
.botonesgaleriawir {
}
#wiregaleria {
	width: 550px;
	height: 410px;
	margin-left: 210px;
	margin-top: 21px;
	margin-right: 210px;
}
#css {
	width: 350px;
	height: 260px;
	float: none;
	margin-top: 92px;
	margin-left: 83px;
	border: 3pt double #FEFEFE;
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 0px;
	background-color: #000000;
}
#css2 {
	width: 350px;
	height: 260px;
	float: right;
	margin-top: -268px;
	border: 3pt double #FEFEFE;
	margin-right: 78px;
	padding-right: 10px;
	padding-left: 15px;
	background-color: #000000;
}
.p4 {
	margin-top: 10px;
	padding-top: 10px;
	position: relative;
	top: 35px;
}

<style type="text/css">   
a:link   
{   
 text-decoration:none;   
}   
</style>
.signografico {
}
.signografico {
	margin-top: 40px;
	margin-left: 40px;
}

p8 {
	color: #000000;
	text-decoration: underline;
}
.resaltarcolor {
	color: #66DEBD;
}
.objetivos {
	left: 230px;
	position: relative;
}

.perfil {
	float: left;
	margin-left: 41px;
}
#imgssobremi {
	width: 200px;
	height: 100px;
}
.espaciosimg {
	margin-left: 27px;
}
