@font-face {
	font-family: 'sorbet';
	src: url('28B439_0_0.eot');
	src: url('28B439_0_0.eot?#iefix') format('embedded-opentype'),
		url('28B439_0_0.woff') format('woff'),
		url('28B439_0_0.ttf') format('truetype');
}