@font-face {
	font-family: 'worstveld';
	src: url('28B439_2_0.eot');
	src: url('28B439_2_0.eot?#iefix') format('embedded-opentype'),
		url('28B439_2_0.woff') format('woff'),
		url('28B439_2_0.ttf') format('truetype');
}